<!--About us page from the navigation bar-->
<h1>Yak Shavers Unite!</h1>
<p class="w3-text-grey">Put more stuff here</p>
<div class="container pad-top">
    <table class="table faqtable">
        <tr>
            <td><h3 style="color:dodgerblue">Work Breakdown</h3></td>
            <td></td>
        </tr>
        <tr>
            <td style="color:cadetblue">Kelsey</td>
            <td style="color: dodgerblue"><p>Requirements Engineer</p></td>
            <td><br/></td>
            <td><p class = "w3-text-grey">Used Spring Boot, Java, Angular, Hibernate, HTML, CSS, and JS. I used Spring Boot framework
                to configure the application. I used Angular to connect the Java code, HTML/CSS, and the database into one interactive web appliation.
            I used Java to make the models used as the entities for the database and Spring MVC configurations.</p></td>
        </tr>
        <tr></tr>
        <tr>
            <td style="color:deepskyblue">Sam </td>
            <td style="color: dodgerblue"><p>Database Engineer</p></td>
            <td><br/></td>
            <td><p class = "w3-text-grey">Created and populated the databases using sqlite...add more here</p></td>
        </tr>
        <tr></tr>

        <tr>
            <td style="color:darkslateblue">Austin</td>
            <td style="color: dodgerblue"><p>Project Manager</p></td>
            <td><br/></td>
            <td><p class = "w3-text-grey">Add austin's contributions here</p></td>
        </tr>
        <tr></tr>

        <tr>
            <td style="color:steelblue">Michael</td>
            <td style="color: dodgerblue"><p>Design Engineer</p></td>
            <td><br/></td>
            <td><p class = "w3-text-grey">Add Michael's contributions here</p></td>
        </tr>


    </table>
</div>
