<!--This class needs to be wired to whatever authentication is used or whereever user data is stored-->
<!--This is the account page from the navigation bar-->
<div class="container pad-top"> 
    <table class="table currencytable">
        <tr>
            <td><h3>Who Am I?</h3></td>
            <td></td>
        </tr>
        <tr>
			<th style="color:dodgerblue">Name</th>
			<td>{{ acc.firstName }} {{ acc.lastName }} <td>
		</tr>
		<tr>
			<th style="color:dodgerblue">Email</th>
			<td>Email goes here</td>
		</tr>
		<tr>
			<th style="color:dodgerblue">Password</th>
			<td>Password goes here</td>
		</tr>
    </table>
</div>
