<!--This class needs to be wired to whatever authentication is used or whereever user data is stored-->
<!--This is the account page from the navigation bar-->
<div class="container pad-top"> 
    <table class="table currencytable">
        <tr>
            <td><h3>Who Am I?</h3></td>
            <td></td>
        </tr>
        <tr ng-repeat="user in users">
            <td style="color:dodgerblue">User Name</td>
			<td>{{user.first_name}}<td>
        </tr>
        <tr>
            <td style="color:dodgerblue">Email</td>
			<td>Email goes here</td>
        </tr>
        <tr>
            <td style="color:dodgerblue">Password</td>
			<td>Password goes here</td>
        </tr>

    </table>
</div>
