<head>
    <Title>Stats</Title>
</head>

<div>
    <p>Put Stats on this page: These are just examples.</p>
        <table class="table supported">
            <tr>
                <td><h3>Cryptocurrencies Supported</h3></td>
                <td></td>
            </tr>
            <tr>
                <th style="color:cadetblue">Bitcoin</th>
                <td style="color:cadetblue">Symbol: BTC</td>
                <td style="color:cadetblue">Standard Deviation: Enter number</td>
                <td style="color:cadetblue">Last Updated: Now</td>
            </tr>
            <tr>
                <th style="color:deepskyblue">Ripple</th>
                <td style="color:deepskyblue">Symbol: XRP</td>
                <td style="color:deepskyblue">Standard Deviation: Enter number</td>
                <td style="color:deepskyblue">Last Updated: Now</td>
            </tr>
            <tr>
                <th style="color:darkslateblue">Ethereum</th>
                <td style="color:darkslateblue">Symbol: ETH</td>
                <td style="color:darkslateblue">Standard Deviation: Enter number</td>
                <td style="color:darkslateblue">Last Updated: Now</td>
            </tr>
            <tr>
                <th style="color:steelblue">Bicoin Cash</th>
                <td style="color:steelblue">Symbol: BCC</td>
                <td style="color:steelblue">Standard Deviation: Enter number</td>
                <td style="color:steelblue">Last Updated: Now</td>
            </tr>
            <tr>
                <th style="color:cadetblue">Litecoin </th>
                <td style="color:cadetblue">Symbol: LTC</td>
                <td style="color:cadetblue">Standard Deviation: Enter number</td>
                <td style="color:cadetblue">Last Updated: Now</td>
            </tr>
            <tr>
                <td>See Chart below</td>
            </tr>
        </table>

</div>
