<div class="container pad-top">
  <table class="table currencytable">
      <tr>
          <td><h3>Details for {{currency.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{currency.name}}</td>
      </tr>
      <tr>
          <td>Symbol</td>
          <td>{{currency.symbol}}</td>
      </tr>
      <tr>
          <td>Currency Rank</td>
          <td>{{currency.rank}}</td>
      </tr>
      <tr>
          <td>Date Updated</td>
          <td>{{currency.date_time}}</td>
      </tr>
      <tr>
          <td>SOD Price </td>
          <td>{{currency.sodPrice}}</td>
      </tr>
      <tr>
          <td>Current Price </td>
          <td>{{currency.currentPrice}}</td>
      </tr>
      <tr>
          <td>Price Change</td>
          <td>{{currency.currentPrice - currency.sodPrice}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editCurrency({id:currency.id})">Edit</a>
  </div>
</div>
