<div class="container pad-top">
  <table class="table currencytable">
      <tr>
          <td><h3>Details for {{currency.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{currency.name}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{currency.description}}</td>
      </tr>
      <tr>
          <td>Currency Condition</td>
          <td>{{currency.condition}}</td>
      </tr>
      <tr>
          <td>Year Created</td>
          <td>{{currency.yearDiscovered}}</td>
      </tr>
      <tr>
          <td>SOD Price </td>
          <td>{{currency.sodPrice}}</td>
      </tr>
      <tr>
          <td>EOD Price </td>
          <td>{{currency.eodPrice}}</td>
      </tr>
      <tr>
          <td>Price Change</td>
          <td>{{currency.eodPrice - currency.sodPrice}}</td>
      </tr>
  </table>
  <div>
      <a class="btn btn-primary" ui-sref="editCurrency({id:currency.id})">Edit</a>
  </div>
</div>
