<div class="container pad-top">
    <table class="table faqtable">
        <tr>
            <td><h3>Help Please?!?!...</h3></td>
            <td></td>
        </tr>
        <tr>
            <td>What is a cryptocurrency?</td>
            <td>a digital currency in which encryption techniques are used to regulate the generation of units of currency and verify the transfer of funds, operating independently of a central bank.</td>
        </tr>
        <tr>
            <td>How is the value of a cryptocurrency determined and where can I see it?</td>
            <td>https://coinmarketcap.com/ has a list of cryptocurrencies ranked by the value of 1 unit of that currency times the cost on an exchange to buy it which equals the market capitalization.</td>
        </tr>
        <tr>
            <td>What are the most exciting reasons to become involved with digital currencies?</td>
            <td>The ability to transfer money in just 3 seconds to anyone in the world</td>
        </tr>
        <tr>
            <td>Is it a scam?</td>
            <td> It’s not a scam, in the sense of somebody marketing a bogus product. Cryptocurrencies are a legitimate technology. The question is how useful and valuable it will become.</td>
        </tr>
        <tr>
            <td>SOD Price </td>
            <td>{{currency.sodPrice}}</td>
        </tr>

    </table>
</div>
