<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container text-center">
        <h2 style="color:cadetblue">HashCash Stash</h2>
        <img src="/images/abc.jpg" class="img-rounded img-responsive"/>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 style="color:cadetblue">CryptoCurrency List</h2>
            <p><a class="btn btn-default" href="#/currencys" role="button">Click Here! &raquo;</a></p>


        </div>
        <br>
        <br>
        <div><h2>Simplicity</h2>
            <h5 style="color:cadetblue">Our Purpose</h5>

            <p>People monitoring the stock markets for cryptocurrencies may find it difficult to effectively analyze
                and differentiate particular stocks that they may be interested in. By using HashCash Stash,
                this will alleviate their woes and help expedite the analytical process with an intuitive interface.</p>
        </div>
    </div>




    <hr>


    <footer>

        <p>&copy; Awesome!</p>
    </footer>
</div> <!-- /container -->
