<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Login page</title>
	</head>
	<body>
		<h1>Login page</h1>
		<table>
		<form th:action="@{/login}" method="post">
			<tr>
			<td>
				<label for="username">Username</label>:
			</td>
			<td>
				<input type="text" id="username" name="username" autofocus="autofocus" /> <br />
			</td>
			</tr>
			<tr>
				<td>
					<label for="password">Password</label>:
				</td>
				<td>
					<input type="password" id="password" name="password" /> <br />
				</td>
				<tr>
					<td>
						<input type="submit" value="Log in" />
					</td>
		</form>
				<td>
				<form action="/registration">
					<input type="submit" value="Register" />
				</form>
				</td>
				</tr>
	</body>	
</html>
